# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# env / secrets
.env

# db backups
backups/
*.sql.gz

# os
.DS_Store

plan/*