aws_region                 = "ap-south-1"
project_name               = "triphoria"
environment                = "prod"
vpc_cidr                   = "10.1.0.0/16"
availability_zones         = ["ap-south-1a", "ap-south-1b"]
single_nat_gateway         = false
db_password                = "ShivangProd2026!"
db_instance_class          = "db.t3.small"
db_allocated_storage       = 50
db_backup_retention_period = 14
db_deletion_protection     = true
db_multi_az                = true
ecs_cpu                    = 512
ecs_memory                 = 1024
ecs_desired_count          = 2
container_image            = "nginx:1.27-alpine"
